.ContactUpdateItem {
  display: flex;
  flex-direction: column;

  padding: 20px;
  max-width: 320px;
  border-radius: 8px;

  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

  .formLabel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .formText {
      margin-bottom: 10px;

      font-weight: 500;
      font-size: 18px;
      line-height: 1.18;
    }

    input {
      padding: 10px;

      border: none;
      outline: none;

      background-color: inherit;

      border-bottom: 1px solid black;
    }
  }
}

.contactBtnSave {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-left: 10px;

  border: none;
  outline: none;

  border-radius: 8px;
  // background-color: rgba(197, 188, 195, 0.5);

  background-image: linear-gradient(
    120deg,
    rgba(35, 57, 135, 0.7) 0%,
    rgba(66, 159, 71, 0.7) 100%
  );
  color: #ffffff;

  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: rgba(174, 164, 172, 0.5);

    // background-image: linear-gradient(
    //   120deg,
    //   rgb(35, 57, 135) 0%,
    //   rgb(66, 159, 71) 100%
    // );

    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
  }

  .btnText {
    margin-right: 10px;
  }
}
