.UserPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  width: max-content;

  border-radius: 8px;
  background-color: rgba(193, 238, 226, 0.5);
  box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.38);
}

.title,
.totalContacts {
  text-align: center;
  margin-bottom: 20px;
}

.totalContacts {
  font-weight: 700;
}

.titleContacts {
  text-align: center;
  margin: 20px 0;
}
